@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "vollda";
  src: url("../Assets/font/Vollda-Bold.otf") format("otf");
  /* Sesuaikan dengan lokasi dan format file font */
  /* Mungkin perlu menambahkan properti lain seperti font-weight, font-style, dsb. */
}

.head-content {
  background-color: #E0E9E1;
  display: flex;
  margin: 42px 0 0 0;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  padding: 30px;
}

.h-content-left {
  width: 30%;
}

.h-content-left img {
  width: 100%;
  height: auto;
}

.h-content-right {
  width: 70%;
}

.h-content-right h1 {
  color: #2e6f34;
  font-family: "vollda", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 80%;
}

.h-content-right p {
  margin-top: 18px;
  font-family: "Poppins", sans-serif;
  color: #797979;
  font-size: 20px;
  max-width: 80%;
}

@media only screen and (max-width: 1000px) {
  .head-content {
    gap: 40px;
  }

  .h-content-right h1 {
    font-size: 26px;
    max-width: 100%;
  }

  .h-content-right p {
    font-size: 22px;
    max-width: 100%;
  }
}

@media only screen and (max-width: 760px) {
  .head-content {
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
  }

  .h-content-left {
    width: 70%;
  }

  .h-content-right {
    width: 90%;
  }

  .h-content-right h1 {
    text-align: center;
    max-width: 100%;
  }

  .h-content-right p {
    text-align: center;
    max-width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .h-content-left {
    width: 60%;
  }

  .h-content-right h1 {
    font-size: 24px;
  }

  .h-content-right p {
    margin-top: 5px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .h-content-right h1 {
    font-size: 22px;
  }

  .h-content-right p {
    font-size: 18px;
  }
}

/*  */

.content-quiz {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 46px;
}

.content-quiz .card-profile {
  background-color: white;
  border: 1px solid #c4c4c4;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.content-quiz .card-profile:hover {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
}

.content-quiz .card-profile .img img {
  width: 100%;
  height: auto;
}

.name-wali {
  font-family: "vollda", sans-serif;
  font-size: 28px;
  color: #2e6f34;
  text-align: center;
}

.btn-knowledge {
  background-color: #2e6f34;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 8px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-top: 12px;
}

.btn-knowledge:hover {
  background-color: #327b39;
}

@media only screen and (max-width: 900px) {
  .content-knowledge {
    gap: 15px;
  }

  .name-wali {
    font-size: 24px;
  }
}

@media only screen and (max-width: 700px) {
  .content-knowledge {
    grid-template-columns: repeat(2, 1fr);
  }

  .name-wali {
    font-size: 22px;
  }

  .btn-knowledge {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .content-knowledge{
    gap: 10px;
  }
  
  .content-quiz .card-profile {
    padding: 15px;
  }

  .name-wali {
    font-size: 20px;
  }
}