@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "vollda";
  src: url("../Assets/font/Vollda-Bold.otf") format("otf");
  /* Sesuaikan dengan lokasi dan format file font */
  /* Mungkin perlu menambahkan properti lain seperti font-weight, font-style, dsb. */
}

.container-knowledge-sunankudus {
  padding: 25px;
  border: 1px solid #c4c4c4;
  border-radius: 30px;
  margin-top: 42px;
}

.head-content {
  display: flex;
  gap: 40px;
  align-items: center;
}

.head-content-left {
  width: 40%;
}

.head-content-right {
  width: 60%;
}

.gallery {
  --s: 100%;
  --g: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid: auto-flow var(--s)/repeat(2, var(--s)); */
  gap: var(--g);
}

.gallery .img {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  cursor: pointer;
  z-index: 0;
  transition: .25s, z-index 0s .25s;
}

.gallery .img:hover {
  width: calc(200% + var(--g));
  filter: grayscale(0);
  z-index: 1;
  transition: .4s, z-index 0s;
}

.gallery .img:nth-child(1) {
  place-self: start;
}

.gallery .img:nth-child(2) {
  place-self: start end;
}

.gallery .img:nth-child(3) {
  place-self: end start;
}

.gallery .img:nth-child(4) {
  place-self: end;
}

.gallery .img img {
  width: 100%;
  aspect-ratio: 1;
  height: auto;
  border-radius: 20px;
  display: block;
}

/*  */

.name-wali {
  color: #2e6f34;
  font-family: "vollda", sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.born-die {
  margin-top: 18px;
}

.text-born {
  color: #4b4b4b;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.text-die {
  color: #4b4b4b;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.location {
  display: flex;
  gap: 10px;
  margin-top: 26px;
}

.icon-location {
  padding: 5px;
  height: max-content;
  width: max-content;
  font-size: 20px;
  color: white;
  background-color: #ff0000;
  border-radius: 5px;
}

.location p {
  color: #4b4b4b;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.address-location {
  color: #4b4b4b;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  width: 75%;
}

.btn-to-location {
  font-size: 16px;
  color: white;
  background-color: #2e6f34;
  padding: 10px 0;
  margin-top: 24px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  width: 40%;
}

.btn-to-location:hover {
  background-color: #327b39;
}

.icon-arrow {
  font-size: 24px;
}

@media only screen and (max-width: 1150px) {
  .born-die {
    margin-top: 10px;
  }

  .location {
    margin-top: 10px;

  }

  .address-location {
    margin-top: 15px;
    width: 100%;
  }

  .btn-to-location {
    margin-top: 15px;
    width: 60%;
  }

  .head-content {
    gap: 25px;
  }
}

@media only screen and (max-width: 1000px) {
  .name-wali {
    font-size: 24px;
  }

  .text-born {
    font-size: 18px;
  }

  .text-die {
    font-size: 18px;
  }

  .location p {
    font-size: 18px;
  }

  .address-location {
    font-size: 18px;
  }
}

@media only screen and (max-width: 730px) {
  .head-content {
    flex-direction: column;
    gap: 20px;
  }

  .container-knowledge-sunankudus {
    padding: 15px;
    margin-top: 20px;
  }

  .head-content-left {
    width: 100%;
  }

  .head-content-right {
    width: 100%;
    border: 1px solid #c4c4c4;
    border-radius: 20px;
    padding: 10px;
  }

  .btn-to-location {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .name-wali {
    font-size: 20px;
  }

  .text-born {
    font-size: 16px;
  }

  .text-die {
    font-size: 16px;
  }

  .location p {
    font-size: 16px;
  }

  .address-location {
    font-size: 16px;
  }

  .container-knowledge-sunankudus {
    margin-top: 10px;
  }
}

.content-information-wali {
  margin-top: 40px;
}

.title-information p {
  color: #2e6f34;
  font-family: "vollda", sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.container-origin {
  background-color: #e0e9e1;
  padding: 25px;
  border-radius: 20px;
  margin-top: 46px;
}

.title-origin {
  color: #4b4b4b;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.desc-origin {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #4b4b4b;
  font-size: 20px;
  margin-top: 18px;
  text-align: justify;
}

.con-btn-audio {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 18px;
}

.play, .pause {
  display: none;
  justify-content: center;
  align-items: center;
  width: max-content;
  font-size: 30px;
  height: 46px;
  width: 46px;
  background-color: #2e6f34;
  border-radius: 10px;
  color: #FFF;
}

.play:hover, .pause:hover {
  background-color: #327b39;
}

.btn-music {
  background-color: #2e6f34;
  padding: 10px 50px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  gap: 10px;
}

.icon-sound {
  font-size: 26px;
}

.btn-music:hover {
  background-color: #327b39;
}

.container-method {
  background-color: #e0e9e1;
  padding: 25px;
  border-radius: 20px;
  margin-top: 46px;
}

.title-method {
  color: #4b4b4b;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.desc-method {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #4b4b4b;
  font-size: 20px;
  margin-top: 18px;
  text-align: justify;
}

.container-culture {
  background-color: #e0e9e1;
  padding: 25px;
  border-radius: 20px;
  margin-top: 46px;
}

.title-culture {
  color: #4b4b4b;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.desc-culture {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #4b4b4b;
  font-size: 20px;
  margin-top: 18px;
  text-align: justify;
}

.preview-content {
  padding: 25px;
  background-color: #e0e9e1;
  border-radius: 20px;
  margin-top: 46px;
}

.desc-preview {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #4b4b4b;
  font-size: 20px;
  margin-top: 18px;
}

.btn-test-knowledge {
  background-color: #2e6f34;
  padding: 10px;
  font-size: 20px;
  color: white;
  width: 100%;
  border-radius: 10px;
  margin-top: 30px;
}

.btn-test-knowledge:hover {
  background-color: #327b39;
}

@media only screen and (max-width: 900px) {
  .content-information-wali {
    margin-top: 30px;

  }

  .container-origin {
    margin-top: 30px;
    padding: 15px;
  }

  .preview-content {
    margin-top: 30px;
    padding: 15px;
  }

  .title-origin {
    font-size: 22px;
  }

  .desc-origin {
    font-size: 16px;
  }

  .container-method {
    margin-top: 30px;
  }

  .title-method {
    font-size: 22px;
  }

  .desc-method {
    font-size: 16px;
  }

  .container-culture {
    margin-top: 30px;
  }

  .title-culture {
    font-size: 22px;
  }

  .desc-culture {
    font-size: 16px;
  }

  .btn-music {
    font-size: 16px;
    padding: 10px 0;
    width: 100%;
  }

  .icon-sound {
    font-size: 22px;
  }

  .desc-preview {
    font-size: 16px;
  }

  .btn-test-knowledge {
    font-size: 16px;
  }
}