@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
    font-family: "Vollda";
    src: url("Assets/font/Vollda-Bold.otf") format("opentype");
}

.header {
    display: flex;
    position: relative;
    height: 90vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    max-width: 1440px;
    margin: 0 auto;
}

.header .left {
    width: 50%;
    display: flex;
    align-items: center;
}

.header .left h1 {
    color: #FFFAE2;
    font-family: "Vollda", sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
}

.header .right {
    width: 50%;
}

@media only screen and (max-width: 1200px) {
    .header {
        padding: 0 50px;
    }

    .header .left h1 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media only screen and (max-width: 900px) {
    .header {
        padding: 0 30px;
        height: 50vh;
    }

    .header .left h1 {
        font-size: 35px;
        line-height: 40px;
    }
}

@media only screen and (max-width: 700px) {
    .header {
        flex-direction: column;
        gap: 20px;
    }

    .header .left {
        width: 80%;
        justify-content: center;
    }

    .header .left h1 {
        text-align: center;
    }

    .header .right {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        padding: 20px 0;
        height: 40vh;
    }

    .header .left h1 {
        font-size: 30px;
        line-height: 35px;
    }
}

@media only screen and (max-width: 500px) {
    .header {
        gap: 10px;
        height: 35vh;
    }

    .header .left h1 {
        font-size: 25px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 400px) {
    .header .left h1 {
        font-size: 22px;
    }
}

.con-card-information {
    display: flex;
    gap: 20px;
}

.card-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.img-information img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.slick-slide {
    margin: 0 10px;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-slide .card-information {
    display: block;
}

.slick-initialized .slick-slide {
    display: block;
}

@media only screen and (max-width: 600px) {
    .con-card-information {
        gap: 10px;
    }
}

@media only screen and (max-width: 528px) {
    .slick-slide {
        margin: 0 5px;
    }

    .con-card-information {
        margin-top: 10px;
    }
}

/*  */

.information {
    padding: 0 100px;
    display: grid;
    /* responsive grid */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1440px;
    margin: 70px auto auto;
}

.information .card {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #C4C4C4;
    background: #FFF;
    cursor: pointer;
}

.information .card .icon {
    font-size: 30px;
    padding: 15px;
    border-radius: 10px;
    background-color: #2E6F34;
    color: #fff;

}

.information .card:hover {
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
}

.information .card p {
    color: #2E6F34;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    /* 150% */
}

@media only screen and (max-width: 900px) {
    .information {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 800px) {
    .information {
        padding: 0 30px;
        gap: 15px;
    }

    .information .card {
        padding: 15px;
        gap: 15px;
    }
}

@media only screen and (max-width: 500px) {
    .information {
        padding: 0 20px;
        gap: 10px;
    }

    .information .card {
        padding: 10px;
        gap: 10px;
    }


    .information .card p {
        font-size: 18px;
        /* 150% */
    }
}

/*  */

.about-home {
    padding: 40px 100px;
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 1440px;
    margin: 70px auto;
    background: rgba(46, 111, 52, 0.15);
}

.about-home .img {
    width: 50%;
}

.about-home .img img {
    border-radius: 20px;
    width: 100%;
    height: auto;
}

.about-home .text {
    width: 50%;
}

.about-home .text h1 {
    color: #2E6F34;
    font-family: "Vollda", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.about-home .text p {
    color: #797979;
    text-align: justify;
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media only screen and (max-width: 1100px) {
    .about-home {
        gap: 20px;
    }

    .about-home .img {
        width: 40%;
    }

    .about-home .text {
        width: 60%;
    }

    .about-home .text h1 {
        font-size: 28px;
    }

    .about-home .text p {
        font-size: 17px;
    }
}

@media only screen and (max-width: 900px) {
    .about-home {
        padding: 30px 50px;
    }
}

@media only screen and (max-width: 800px) {
    .about-home {
        padding: 25px 30px;
        gap: 15px;
    }

    .about-home .text h1 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .about-home .text p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 750px) {
    .about-home {
        flex-direction: column;
        gap: 10px;
    }

    .about-home .img {
        width: 100%;
    }

    .about-home .text {
        width: 100%;
    }

    .about-home .text h1 {
        font-size: 22px;
    }

    .about-home .text p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 500px) {
    .about-home {
        padding: 20px 20px;
    }
}

/*  */

/* faq */

.general-question {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.sub-subjek {
    margin-top: 60px;
}

.sub-subjek h2 {
    font-family: "vollda", sans-serif;
    font-size: 28px;
    color: #2e6f34;
    text-align: center;
}

.sub-subjek p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #797979;
    text-align: center;
}

.card-faq {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #c4c4c4;
    background: #fff;
    cursor: pointer;
}

.card-faq:hover {
    border-radius: 20px;
    border: 1px solid #c4c4c4;
    background: #fff;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.15);
}

.card-faq .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-faq .text-faq {
    margin-top: 10px;
    display: none;
}

.text-faq {
    font-size: 18px;
    color: #797979;
    font-family: 'Poppins', sans-serif;
}

.question {
    font-size: 20px;
    color: #4b4b4b;
    font-family: 'Poppins', sans-serif;
}

.rotate180 {
    transform: rotate(180deg);
}

@media only screen and (max-width: 1100px) {
    .sub-subjek {
        margin-top: 40px;
    }

    .sub-subjek h2 {
        font-size: 26px;
    }

    .card-faq .question {
        font-size: 20px;
    }

    .text-faq {
        font-size: 20px;
    }
}

@media only screen and (max-width: 900px) {
    .sub-subjek {
        margin-top: 30px;
    }

    .sub-subjek h2 {
        font-size: 24px;
    }

    .sub-subjek p {
        font-size: 18px;
    }

    .card-faq .question {
        font-size: 18px;
    }

    .text-faq {
        font-size: 18px;
    }
}

@media only screen and (max-width: 750px) {
    .sub-subjek h2 {
        font-size: 22px;
    }

    .sub-subjek p {
        font-size: 16px;
    }

    .card-faq .question {
        font-size: 16px;
    }

    .text-faq {
        font-size: 16px;
    }
}

@media only screen and (max-width: 500px) {
    .card-faq {
        padding: 10px;
    }

    .general-question {
        gap: 10px;
        margin-top: 20px;
    }

    .sub-subjek {
        margin-top: 20px;
    }

    .sub-subjek h2 {
        font-size: 20px;
    }
}

/* end faq */

/* contact us */

.title-contact {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.contact-us {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;
    border-radius: 30px;
    border: 1px solid #c4c4c4;
    padding: 40px 30px;
    margin-top: 38px;
}

.contact-us .left,
.contact-us .right {
    width: 100%;
}

.contact-us .left p,
.contact-us .right p {
    color: #4b4b4b;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 5px;
}

.contact-us .left input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    margin-bottom: 10px;
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-us .right textarea {
    resize: none;
    width: 100%;
    border-radius: 10px;
    padding: 10px 20px;
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 50%;
}

.contact-us .right button {
    padding: 8px 20px;
    border-radius: 10px;
    background: #2e6f34;
    border: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 35px;
    transition: all 0.1s ease-in-out;
    width: 100%;
}

.contact-us .right button:hover {
    background: #3e7b45;
    cursor: pointer;
    color: #fff;
}

@media only screen and (max-width: 1200px) {
    .contact-us {
        padding: 20px 20px;
    }

    .contact-us .left p,
    .contact-us .right p {
        font-size: 16px;
    }

    .contact-us .left input {
        font-size: 16px;
    }

    .contact-us .right textarea {
        font-size: 16px;
    }

    .contact-us .right button {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1000px) {
    .contact-us {
        padding: 20px 20px;
    }

    .contact-us .left p,
    .contact-us .right p {
        font-size: 16px;
    }

    .contact-us .left input {
        font-size: 16px;
    }

    .contact-us .right textarea {
        font-size: 16px;
    }

    .contact-us .right button {
        font-size: 18px;
    }
}

@media only screen and (max-width: 800px) {
    .contact-us {
        padding: 20px 20px;
    }

    .title-contact {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .contact-us .left p,
    .contact-us .right p {
        font-size: 14px;
    }

    .contact-us .left input {
        font-size: 14px;
    }

    .contact-us .right textarea {
        font-size: 14px;
    }

    .contact-us .right button {
        font-size: 16px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .contact-us {
        flex-direction: column;
        gap: 0px;
    }

    .contact-us .left input {
        width: 100%;
    }

    .contact-us .right textarea {
        width: 100%;
        height: 100px;
    }
}

/* end contact us */