@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "vollda";
  src: url("../Assets/font/Vollda-Bold.otf") format("otf");
  /* Sesuaikan dengan lokasi dan format file font */
  /* Mungkin perlu menambahkan properti lain seperti font-weight, font-style, dsb. */
}

.container .title-section h1 {
  font-family: "vollda", sans-serif;
  text-align: center;
  color: #2e6f34;
  font-size: 32px;
  margin-top: 42px;
}

.title-section p {
  font-family: "Poppins", sans-serif;
  color: #797979;
  text-align: center;
  font-size: 20px;
}

.content-knowledge {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 46px;
}

.card-profile {
  background-color: white;
  border: 1px solid #c4c4c4;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.card-profile:hover {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
}

.card-profile .one{
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.card-profile .img{
  overflow: hidden;
  border-radius: 15px
}

.card-profile .img img {
  width: 100%;
  height: auto;
  display: block;
}

.card-profile:hover .img img {
  transform: scale(1.1);
  transition: 0.5s;
}

.name-wali {
  font-family: "vollda", sans-serif;
  font-size: 28px;
  color: #2e6f34;
}

.desc-wali {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #797979;
}

.btn-knowledge {
  background-color: #2e6f34;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 8px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.btn-knowledge:hover {
  background-color: #327b39;
}

@media only screen and (max-width: 1100px) {
  .name-wali {
    font-size: 26px;
  }
}

@media only screen and (max-width: 1000px) {
  .container .title-section h1 {
    margin-top: 20px;
    font-size: 28px;
  }

  .container .title-section p {
    font-size: 18px;
  }

  .content-knowledge {
    gap: 15px;
    margin-top: 30px;
  }

  .card-profile {
    padding: 15px;
  }

  .name-wali {
    font-size: 24px;
  }

  .desc-wali {
    font-size: 16px;
  }
}

@media only screen and (max-width: 700px) {
  .content-knowledge {
    grid-template-columns: repeat(2, 1fr);
  }

  .name-wali {
    font-size: 22px;
  }
}

@media only screen and (max-width: 500px) {
  .card-profile .img {
    border-radius: 15px;
  }

  .container .title-section h1 {
    font-size: 24px;
  }

  .container .title-section p {
    font-size: 17px;
  }

  .content-knowledge {
    gap: 10px;
  }

  .card-profile {
    padding: 15px 10px;
  }

  .name-wali {
    font-size: 19px;
  }

  .btn-knowledge {
    border-radius: 8px;
  }
}

@media only screen and (max-width: 350px) {
  .name-wali {
    font-size: 18px;
  }

  .desc-wali {
    font-size: 14px;
  }

  .btn-knowledge {
    font-size: 12px;
  }
}