@font-face {
    font-family: "vollda";
    src: url("../../Assets/font/Vollda-Bold.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.head-ziarah {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    background: url(../Assets/bgZiarah.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    border-radius: 30px;
    padding-left: 50px;
    position: relative;
}

.head-ziarah .left {
    width: 50%;
}

.head-ziarah .left h1 {
    max-width: 90%;
    color: #FFFAE2;
    font-family: "Vollda", sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    margin: 40px 0;
}

.head-ziarah .right {
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.head-ziarah .right .img img {
    display: block;
    border-radius: 0 30px 30px 0;
    width: 100%;
    height: auto;
}

#right-one {
    display: block;
}

#right-two {
    display: none;
}

@media only screen and (max-width: 1350px) {
    .head-ziarah .right {
        width: 50%;
    }
}

@media only screen and (max-width: 1154px) {
    .head-ziarah {
        padding-left: 30px;
    }

    .head-ziarah .left h1 {
        font-size: 32px;
    }
}

@media only screen and (max-width: 900px) {
    .head-ziarah {
        padding-left: 20px;
    }

    .head-ziarah .left {
        width: 55%;
    }

    .head-ziarah .left h1 {
        font-size: 28px;
    }

    .head-ziarah .right {
        width: 45%;
    }
}

@media only screen and (max-width: 700px) {
    .head-ziarah {
        flex-direction: column;
        padding-left: 0;
        align-items: center;
    }

    .head-ziarah .left {
        width: 100%;
        width: 95%;
    }

    .head-ziarah .left h1 {
        font-size: 24px;
        max-width: 100%;
        text-align: center;
        margin: 40px 0 0 0;
    }

    .head-ziarah .right {
        width: 100%;
        position: relative;
        margin-top: 0;
    }

    #right-one {
        display: none;
    }

    #right-two {
        display: flex;
    }

    .head-ziarah .right .imgLeft img {
        border-radius: 30px 0 0 30px;
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 550px) {
    .head-ziarah {
        border-radius: 15px;
    }

    .head-ziarah .right .imgLeft img {
        border-radius: 15px 0 0 15px;
    }

    .head-ziarah .left h1 {
        font-size: 22px;
    }

    .head-ziarah .right .img img {
        border-radius: 0 15px 15px 0;
    }
}

@media only screen and (max-width: 500px) {
    .head-ziarah .left h1 {
        font-size: 20px;
        margin: 30px 0 0 0;
    }
}

/*  */

.information {
    display: flex;
    gap: 20px;
    margin-top: 60px;
}

.information .card {
    padding: 15px;
    border-radius: 30px;
    border: 1px solid #C4C4C4;
    background: #FFF;
    transition: 0.2s ease-in-out;

}

.information .card:hover {
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
}

.information .card p:nth-child(1) {
    color: #2E6F34;
    font-family: "vollda", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 10px;
}

.information .card p span {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background: #2E6F34;
    color: #FFF;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information .card p {
    color: #797979;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
}

@media only screen and (max-width: 1100px) {
    .information .card p:nth-child(1) {
        font-size: 24px;
    }

    .information .card p {
        font-size: 18px;
    }
}

@media only screen and (max-width: 900px) {
    .information {
        gap: 10px;
    }

    .information .card p:nth-child(1) {
        font-size: 22px;
        gap: 5px;
    }

    .information .card p {
        font-size: 16px;
    }

    .information .card p span {
        width: 40px;
        height: 40px;
        font-size: 24px;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 700px) {
    .information {
        flex-direction: column;
        gap: 15px;

        margin-top: 30px;
    }

    .information .card {
        padding: 12px;
        border-radius: 20px;
    }

    .information .card p:nth-child(1) {
        font-size: 20px;
    }
}

/*  */

.selectArmada {
    padding: 20px;
    background: #E0E9E1;
    border-radius: 30px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selectArmada h2 {
    color: #2E6F34;
    text-align: center;
    font-family: "Vollda", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

.selectArmada p {
    color: #797979;
    text-align: center;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.selectArmada .con {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

.selectArmada .con .card {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    border: 1px solid #C4C4C4;
    background: #FFF;
    padding: 10px;
    cursor: pointer;
    transition: .2s ease-in-out all;
}

.selectArmada .con .active {
    background-color: #2E6F34;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.25);
}

.selectArmada .con .card.active p {
    color: #fff;
}

.selectArmada .con .card:hover {
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
}

.selectArmada .con .card .img {
    display: flex;
    justify-content: center;
}

.selectArmada .con .card .img img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
}

.selectArmada .con .card p {
    color: #2E6F34;
    font-family: "Poppins";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
}

@media only screen and (max-width: 1100px) {
    .selectArmada .con {
        gap: 15px;
    }

    .selectArmada .con .card p {
        font-size: 20px;
    }

    .selectArmada .con .card .img img {
        width: 90%;
    }
}

@media only screen and (max-width: 800px) {
    .selectArmada .con {
        gap: 10px;
    }

    .selectArmada .con .card p {
        font-size: 18px;
    }

    .selectArmada .con .card .img img {
        width: 80%;
    }
}

@media only screen and (max-width: 700px) {
    .selectArmada {
        padding: 10px;
    }

    .selectArmada .con {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 550px) {
    .selectArmada .con {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
}

@media only screen and (max-width: 400px) {
    .selectArmada .con .card p {
        font-size: 17px;
    }
}

/*  */

.option-travel {
    padding-top: 60px;
}

.option-travel h2 {
    color: #797979;
    text-align: center;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.option-travel .con-travel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}

.option-travel .con-travel .card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid #C4C4C4;
    justify-content: space-between;
    background: #FFF;
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.option-travel .con-travel .card.active {
    opacity: 1;
    transform: translateY(0);
}

.option-travel .con-travel .card .top {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.option-travel .con-travel .card .top .img img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.option-travel .con-travel .card .top h3 {
    color: #4B4B4B;
    font-family: "Poppins";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.option-travel .con-travel .card:hover {
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
}

.option-travel .con-travel .card .top p {
    display: flex;
    align-items: center;
    color: #797979;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    gap: 5px;
    line-height: normal;
}

.option-travel .con-travel .card .top p span {
    color: #2E6F34;
    border-radius: 6px;
    background: #E0E9E1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.option-travel .con-travel .card .bottom p {
    color: #2E6F34;
    font-family: "Poppins";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.option-travel .con-travel .card button {
    margin-top: 10px;
    padding: 5px 0;
    width: 100%;
    background-color: #2E6F34;
    border-radius: 15px;
    color: #FFF;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.2s ease-in-out;
}

.option-travel .con-travel .card button:hover {
    background-color: #2E6F34;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 1100px) {
    .option-travel .con-travel .card .top h3 {
        font-size: 20px;
    }

    .option-travel .con-travel .card .top p {
        font-size: 18px;
    }

    .option-travel .con-travel .card .bottom p {
        font-size: 20px;
    }

    .option-travel .con-travel {
        gap: 15px;
    }
}

@media only screen and (max-width: 900px) {
    .option-travel .con-travel .card {
        padding: 10px;
    }

    .option-travel .con-travel .card .top h3 {
        font-size: 18px;
    }

    .option-travel .con-travel .card .top .img img {
        border-radius: 18px;
    }

    .option-travel .con-travel .card .top p {
        font-size: 16px;
    }

    .option-travel .con-travel .card .bottom p {
        font-size: 18px;
    }

    .option-travel .con-travel .card button {
        border-radius: 15px;
    }
}

@media only screen and (max-width: 800px) {
    .option-travel .con-travel {
        gap: 10px;
    }
}

@media only screen and (max-width: 700px) {
    .option-travel .con-travel {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 550px) {
    .option-travel .con-travel {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .option-travel .con-travel .card button {
        font-size: 16px;
    }
}

/*  */

.galery {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    height: 400px;
    margin-top: 60px;
}



.galery div {
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.galery div p {
    position: absolute;
    text-align: center;
    bottom: 20px;
    color: #FFF;
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#item-0 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.65) 100%), url(../Assets/galery/MakamSunanAmpel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
}

#item-1 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.65) 100%), url(../Assets/galery/MakamSunanDrajat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;

}

#item-2 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.65) 100%), url(../Assets/galery/MakamSunanGunungJati.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;

}

#item-3 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.65) 100%), url(../Assets/galery/MakamSunanMuria.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 5;
}

#item-4 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.65) 100%), url(../Assets/galery/MakamSunanKalijaga.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;

}

#item-5 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.65) 100%), url(../Assets/galery/menaraKudus.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: 5;

}

@media only screen and (max-width: 1000px) {
    .galery {
        gap: 10px;
    }
}

@media only screen and (max-width: 700px) {
    .galery {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        height: 700px;
    }

    #item-0 {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2;
    }

    #item-1 {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-column-end: 3;

    }

    #item-2 {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-column-end: 3;

    }

    #item-3 {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 3;

    }

    #item-4 {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-row-end: 5;
        grid-column-end: 2;

    }

    #item-5 {
        grid-row-start: 4;
        grid-column-start: 2;
        grid-row-end: 5;
        grid-column-end: 3;
    }
}

/* faq */
.general-question {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.sub-subjek {
    margin-top: 60px;
}

.sub-subjek h2 {
    font-family: "vollda", sans-serif;
    font-size: 28px;
    color: #2e6f34;
    text-align: center;
}

.sub-subjek p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #797979;
    text-align: center;
}

.card-faq {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #c4c4c4;
    background: #fff;
    cursor: pointer;
}

.card-faq:hover {
    border-radius: 20px;
    border: 1px solid #c4c4c4;
    background: #fff;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.15);
}

.card-faq .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-faq .text-faq {
    margin-top: 10px;
    display: none;
}

.text-faq {
    font-size: 18px;
    color: #797979;
    font-family: 'Poppins', sans-serif;
}

.question {
    font-size: 20px;
    color: #4b4b4b;
    font-family: 'Poppins', sans-serif;
}

.rotate180 {
    transform: rotate(180deg);
}

@media only screen and (max-width: 1100px) {
    .sub-subjek {
        margin-top: 40px;
    }

    .sub-subjek h2, .selectArmada h2 {
        font-size: 26px;
    }

    .card-faq .question {
        font-size: 20px;
    }

    .text-faq {
        font-size: 20px;
    }
}

@media only screen and (max-width: 900px) {
    .sub-subjek {
        margin-top: 30px;
    }

    .sub-subjek h2, .selectArmada h2 {
        font-size: 24px;
    }

    .sub-subjek p, .selectArmada p, .option-travel h2 {
        font-size: 18px;
    }

    .card-faq .question {
        font-size: 18px;
    }

    .text-faq {
        font-size: 18px;
    }
}

@media only screen and (max-width: 750px) {
    .sub-subjek h2, .selectArmada h2 {
        font-size: 22px;
    }

    .sub-subjek p, .selectArmada p, .option-travel h2 {
        font-size: 16px;
    }

    .card-faq .question {
        font-size: 16px;
    }

    .text-faq {
        font-size: 16px;
    }
}

@media only screen and (max-width: 500px) {
    .card-faq {
        padding: 10px;
    }

    .general-question {
        gap: 10px;
        margin-top: 20px;
    }

    .sub-subjek {
        margin-top: 20px;
    }

    .sub-subjek h2, .selectArmada h2 {
        font-size: 20px;
    }
}

/* end faq */